openapi: 3.2.0
info:
  title: Tradier Brokerage Options API
  version: '1.0'
  description: 'REST API for the Tradier brokerage platform covering trading,

    account management, market data, watchlists, and streaming session

    creation for US equities and options.


    Source: https://docs.tradier.com/ (endpoints aggregated from the

    public llms.txt index and reference documentation).

    '
  contact:
    name: Tradier
    url: https://docs.tradier.com/
servers:
- url: https://api.tradier.com/v1
  description: Production brokerage API
- url: https://sandbox.tradier.com/v1
  description: Sandbox (delayed data) environment
security:
- bearerAuth: []
tags:
- name: Options
paths:
  /markets/options/chains:
    get:
      tags:
      - Options
      summary: Get option chains
      operationId: getOptionChains
      parameters:
      - in: query
        name: symbol
        required: true
        schema:
          type: string
      - in: query
        name: expiration
        required: true
        schema:
          type: string
          format: date
      - in: query
        name: greeks
        schema:
          type: boolean
      responses:
        '200':
          description: Option chain.
  /markets/options/expirations:
    get:
      tags:
      - Options
      summary: Get option expirations
      operationId: getOptionExpirations
      parameters:
      - in: query
        name: symbol
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Available expirations.
  /markets/options/strikes:
    get:
      tags:
      - Options
      summary: Get option strikes
      operationId: getOptionStrikes
      parameters:
      - in: query
        name: symbol
        required: true
        schema:
          type: string
      - in: query
        name: expiration
        required: true
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Available strikes.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth2 access token
      description: 'Tradier OAuth 2.0 bearer token sent as `Authorization: Bearer <token>`.'
