openapi: 3.2.0
info:
  title: Tradier Brokerage Trading API
  version: '1.0'
  description: 'REST API for the Tradier brokerage platform covering trading,

    account management, market data, watchlists, and streaming session

    creation for US equities and options.


    Source: https://docs.tradier.com/ (endpoints aggregated from the

    public llms.txt index and reference documentation).

    '
  contact:
    name: Tradier
    url: https://docs.tradier.com/
servers:
- url: https://api.tradier.com/v1
  description: Production brokerage API
- url: https://sandbox.tradier.com/v1
  description: Sandbox (delayed data) environment
security:
- bearerAuth: []
tags:
- name: Trading
paths:
  /accounts/{account_id}/orders:
    get:
      tags:
      - Trading
      summary: List orders
      operationId: listOrders
      parameters:
      - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: List of current orders.
    post:
      tags:
      - Trading
      summary: Place order
      operationId: placeOrder
      parameters:
      - $ref: '#/components/parameters/AccountId'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                class:
                  type: string
                  description: equity, option, multileg, combo
                symbol:
                  type: string
                side:
                  type: string
                  description: buy, sell, buy_to_cover, sell_short
                quantity:
                  type: integer
                type:
                  type: string
                  description: market, limit, stop, stop_limit
                duration:
                  type: string
                  description: day, gtc, pre, post
                price:
                  type: number
                stop:
                  type: number
              required:
              - class
              - symbol
              - side
              - quantity
              - type
              - duration
      responses:
        '200':
          description: Order acknowledgement.
  /accounts/{account_id}/orders/{order_id}:
    get:
      tags:
      - Trading
      summary: Get a specific order
      operationId: getOrder
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Order details.
    put:
      tags:
      - Trading
      summary: Modify an order
      operationId: modifyOrder
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Modified order.
    delete:
      tags:
      - Trading
      summary: Cancel an order
      operationId: cancelOrder
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Cancellation acknowledgement.
components:
  parameters:
    OrderId:
      in: path
      name: order_id
      required: true
      schema:
        type: string
      description: Order identifier.
    AccountId:
      in: path
      name: account_id
      required: true
      schema:
        type: string
      description: Tradier account identifier.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth2 access token
      description: 'Tradier OAuth 2.0 bearer token sent as `Authorization: Bearer <token>`.'
