openapi: 3.2.0
info:
  title: Tradier Brokerage Watchlists API
  version: '1.0'
  description: 'REST API for the Tradier brokerage platform covering trading,

    account management, market data, watchlists, and streaming session

    creation for US equities and options.


    Source: https://docs.tradier.com/ (endpoints aggregated from the

    public llms.txt index and reference documentation).

    '
  contact:
    name: Tradier
    url: https://docs.tradier.com/
servers:
- url: https://api.tradier.com/v1
  description: Production brokerage API
- url: https://sandbox.tradier.com/v1
  description: Sandbox (delayed data) environment
security:
- bearerAuth: []
tags:
- name: Watchlists
paths:
  /watchlists:
    get:
      tags:
      - Watchlists
      summary: List watchlists
      operationId: listWatchlists
      responses:
        '200':
          description: All watchlists.
    post:
      tags:
      - Watchlists
      summary: Create watchlist
      operationId: createWatchlist
      responses:
        '200':
          description: Created watchlist.
  /watchlists/{id}:
    get:
      tags:
      - Watchlists
      summary: Get a watchlist
      operationId: getWatchlist
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Watchlist detail.
    put:
      tags:
      - Watchlists
      summary: Update a watchlist
      operationId: updateWatchlist
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated watchlist.
    delete:
      tags:
      - Watchlists
      summary: Delete a watchlist
      operationId: deleteWatchlist
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Deletion acknowledgement.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth2 access token
      description: 'Tradier OAuth 2.0 bearer token sent as `Authorization: Bearer <token>`.'
